.walletInfor {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-bottom: 20px;
}

.selectToken {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tokenBalance {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.transferForm {
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descriptionApp {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.txStatus {
  margin-top: 20px;
}
